@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-montserrat: Montserrat, ui-sans-serif, system-ui;
  --font-roboto-condensed: Roboto_Condensed, sans-serif;
  --font-pacifico: Pacifico, sans-serif;
}

@layer base {
  html,
  body {
    min-height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mantine-Input-input::placeholder {
  color: #5a5a5a !important;
  opacity: 1 !important;
}
