.bg-hatched-booked {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(190, 242, 100, 1),
    rgba(190, 242, 100, 0.3) 1px,
    transparent 1px,
    transparent 2px
  );
}

.bg-hatched-blocked {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(217, 10, 206, 0.2),
    rgba(217, 10, 206, 0.3) 0.2px,
    transparent 1px,
    transparent 2px
  );
}

.bg-hatched-past {
  background-image: repeating-linear-gradient(
    45deg,
    rgb(201, 203, 198, 0.6),
    rgba(201, 203, 198, 0.2) 0.3px,
    transparent 2px,
    transparent 4px
  );
}

.bg-hatched-today {
  /* background-image: repeating-linear-gradient(
    135deg,
    rgb(201, 203, 198),
    rgba(201, 203, 198, 0.4) 0.1px,
    transparent 2px,
    transparent 4px
  ); */
  /* background-image: radial-gradient(
    circle,
    rgba(194, 200, 210, 0.25) 1px,
    transparent 1px
  );
  background-size: 3px 3px; */
  background-color: #f9fafb;
}

